.TopTables {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  table {
    display: inline-block;
    border-collapse: collapse;
    width: 48%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }

.Calendar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
}

.Calendar button {
  margin-right: 10px;
}